<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Assignments</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/public/styles/dashboard.css">
</head>
<body>

<header class="top-bar">
    <div class="logo">FINCH</div>
    <nav>
        <a href="/dashboard">Dashboard</a>
        <a href="/logout" class="logout">Log out</a>
    </nav>
</header>

<main class="content">

    <h1>Assignments</h1>

    <?php if ($_SESSION['user_role'] !== 'USER'): ?>
        <div class="admin-panel">
            <a href="/create-assignment" class="admin-tile">
                ➕ Create assignment
            </a>
        </div>
    <?php endif; ?>

    <h2>Assignments list:</h2>

    <div class="files-list">
    <?php foreach ($assignments as $a): ?>

        <div class="file-tile">
            <div class="file-info">
                <span>🎬</span>

                <span class="file-name">
                    <?= htmlspecialchars($a['title']) ?>
                    <span class="company-inline">
                        <?= htmlspecialchars($a['company'] ?? '— no company —') ?>
                    </span>
                </span>
            </div>

            <div class="file-actions">
                <a href="/assignment/<?= $a['id'] ?>" class="watch-btn">
                    View
                </a>

                <?php if ($_SESSION['user_role'] !== 'USER'): ?>
                    <a href="/edit-assignment/<?= $a['id'] ?>" class="watch-btn">
                        Edit
                    </a>

                    <a href="/delete-assignment/<?= $a['id'] ?>"
                       class="watch-btn danger">
                        Delete
                    </a>
                <?php endif; ?>
            </div>
        </div>

    <?php endforeach; ?>
</div>


</main>

</body>
</html>
