<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
    <link rel="stylesheet" type="text/css" href="public/styles/main.css">
    <link rel="stylesheet" type="text/css" href="public/styles/login.css">
</head>
<body>
    <form method="POST" action="/login">
        <h1>LOGIN</h1>

        <?php if (isset($messages) && !empty($messages)): ?>
            <div class="messages">
                <?php foreach ($messages as $msg): ?>
                    <p><?= $msg ?></p>
                <?php endforeach; ?>
            </div>
        <?php endif; ?>

        <input name="email" type="email" placeholder="Twój email" required>
        <input name="password" type="password" placeholder="Twoje hasło" required>
        <button type="submit">LOGIN</button>

        <a href="/register">Don't have an account? Register here.</a>
    </form>
</body>
</html>
