<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REGISTER</title>
    <link rel="stylesheet" type="text/css" href="public/styles/main.css">
    <link rel="stylesheet" type="text/css" href="public/styles/login.css">
</head>
<body>
    <form method="POST" action="/register">
        <h1>REGISTER</h1>

          <?php if(isset($messages)): ?>
    <p>
      <?= $messages; ?>
    </p>
    <?php endif; ?>
        <input name="email" type="email" placeholder="Twój email">
        <input name="password" type="password" placeholder="Twoje hasło">
        <input name="password2" type="password" placeholder="Powtórz Twoje hasło">
        <button type="submit">REGISTER</button>
    </form>
</body>
</html>
