<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REGISTER</title>
    <link rel="stylesheet" type="text/css" href="public/styles/main.css">
    <link rel="stylesheet" type="text/css" href="public/styles/login.css">
</head>
<body>
    <form method="POST" action="/register">
        <h1>REGISTER FORM</h1>

        <?php if(isset($messages) && !empty($messages)): ?>
            <div class="messages">
                <?php foreach ($messages as $msg): ?>
                    <p><?= $msg ?></p>
                <?php endforeach; ?>
            </div>
        <?php endif; ?>

        <input name="email" type="email" placeholder="Twój email" required>
        <input name="password" type="password" placeholder="Twoje hasło" required>
        <input name="password2" type="password" placeholder="Powtórz hasło" required>

        <input name="firstName" type="text" placeholder="Imię" required>
        <input name="lastName" type="text" placeholder="Nazwisko" required>

        <button type="submit">REGISTER</button>
    </form>
</body>
</html>
