

body {
    display: flex;
    justify-content: center;
    align-items: center;

}

form {
    background-color: bisque;
    border-radius: 1rem;
    padding: 1.5rem;

    width: 45vw;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;

}

@media screen and (max-width:480px) {
    form {
        width: 100vw;
    }
    
}